<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>第15回レポート課題</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>

    <body>
        <style>
            .aqua {
                font-weight: bold;
                color: aqua;
            }
            .aquamarine {
                font-weight: plain;
                color: rgb(0, 136, 41);
            }
        </style>


        <h1 class="bg-secondary text-white display-4 px-2">第１５回レポート課題</h1>

        <div id="app" class="container">
            <p>{{ message }}</p>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>mail</th>
                        <th>tel</th>
                    </tr>
                </thead>

                <template v-for="(item,index) in items">
                    <tr v-if="index % 2 == 0" class="aqua">
                        <td>{{index}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.mail}}</td>
                        <td>{{item.tel}}</td>
                    </tr>
                    <tr v-else class="aquamarine">
                        <td>{{index}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.mail}}</td>
                        <td>{{item.tel}}</td>
                    </tr>
                </template>
            </table>
        </div>


        <script>
            const appdata = {
                data() {
                    return{
                        message : "notes.jsを通してmongoDBから要素を取得し表示する",
                        items:[]
                    }
                },
                mounted(){
                    const backendEndpoint = "http://localhost:30085/notes";

                    axios.get(backendEndpoint)
                        .then(response => {
                            this.items = response.data;
                            console.log(this.items)
                        })
                        .catch(error => {
                            console.error("データがありません",error);
                        });
                }
            }

            Vue.createApp(appdata).mount("#app")
        </script>
    </body>
</html>